

body, nav, header, main{ width:100%;}

nav{ background-color: lightgrey; text-align: center;}
header h1{color:firebrick;}
main{border: 1px solid red;}
section{background-color:firebrick; color:white;}
#menu{display:block;}
ul{display:none; height:0px; transition: 0.2s ease-out; flex: 1 1 1 100%;}
nav .open{display:flex; height:auto; transition: 0.2s ease-in; flex-direction: column;}