@font-face {
    font-family: Montserrat;
    src: url('Montserrat-Bold.ttf');
}

@font-face {
    font-family: Poppins;
    src: url('Poppins-Regular.ttf');

}


body {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    transition: 0.2s ease-out;
    font-family: Poppins, Helvetica, sans-serif;
    align-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat;
}

nav {
    background-color: lightgrey;
    text-align: center;
    padding: 5px;
    height: 50%;


    transition: 0.5s;

}

header h1 {
    color: cadetblue;
}

main {
    border: 1px solid lightblue;
    text-align: center;
}

section {
    background-color: cadetblue;
    color: white;
}

#menu {
    display: block;
}

ul {
    display: none;
    height: 0px;
    list-style-type: none;
    padding: 0px;
    transition: 0.5s;
}

.open {
    display: flex;
    height: auto;
    text-align: center;
    flex-direction: column;
    transition: all 0.5s;
}

.open li {
    flex: 1 1 100%;
    padding: 2px;
    transition: 0.5s;
}
li{
    color:darkblue;
}


a:link{text-decoration: none; color:darkblue; }
a:visited{color:darkblue;}
a:hover{color:cornflowerblue; transition:0.2s; background-color:white; padding:2px;}


@media screen and (min-width: 800px){
    
    ul{
        display:flex; 
        flex-direction: row;
         padding:2px;
        height:20%;
        
     
    }
    li{
        flex: 0 1 100%; 
        padding: 2px;
        
        margin: 0 auto;
    }
    #Menu {
        display: none; 
        color: transparent;
    }
}
